.sidebar {
	position: fixed;
	z-index: var(--layout-z-index);

	overflow-y: auto;

	width: 300px;
	height: 100vh;
	padding: 40px 30px;

	border-right: 1px solid rgb(0 0 0 / 10%);

	&__subtitle {
		@apply mb-3 text-sm font-bold;
		color: rgb(0 0 0 / 50%);
	}

	&__menu {
		@apply mb-5 pb-5;
		border-bottom: 1px solid rgb(0 0 0 / 10%);
	}
}
