.btn {
	@apply relative font-medium;

	display: flex;
	align-items: center;

	width: max-content;

	line-height: 140%;

	transition: 0.1s ease-in-out;

	&_size-lg {
		height: 48px;
		padding: 13px 20px;
	}

	&_size-md {
		height: 38px;
		padding: 11px 18px;
	}

	&_size-sm {
		height: 28px;
		padding: 8px 14px;
		font-size: 14px;
	}

	&_size-icon {
		justify-content: center;
		width: 48px;
		height: 48px;
		border-radius: 15px;
	}

	&_variant-primary {
		@apply bg-primary text-white;

		box-shadow: 0 6px 12px rgb(63 140 255 / 26%);
	}

	&_variant-primary:hover {
		background-color: #0064f0;
		box-shadow: 0 6px 12px rgb(62 155 255 / 42%);
	}

	&_variant-danger {
		@apply bg-alert text-white;

		box-shadow: 0 6px 12px rgb(252 78 78 / 26%);
	}

	&_variant-danger:hover {
		background-color: #ff3c3c;
		box-shadow: 0 6px 12px rgb(252 78 78 / 42%);
	}

	&_variant-outlined {
		border: 1px solid rgb(0 0 0 / 50%);
	}

	&_variant-outlined:hover {
		box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
	}

	&_variant-filled {
		background-color: rgb(204 204 204 / 50%);
	}

	&-spinner {
		position: absolute;
		inset: 0;
		background-color: inherit;
		border-radius: 25px;
	}

	&-spinner::after {
		content: "";

		position: absolute;
		top: 50%;
		left: 50%;

		width: 16px;
		height: 16px;

		border: 2px solid #fff;
		border-bottom-color: #ddd;
		border-radius: 50%;

		animation: rotation 1s linear infinite;
	}

	&_disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

@keyframes rotation {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
