.header {
	position: fixed;
	z-index: var(--layout-z-index);
	top: 0;
	right: 0;
	left: 300px;

	height: 80px;
	margin: 0 0 0 auto;

	background-color: #fff;
	border-bottom: 1px solid rgb(0 0 0 / 10%);
}
